absl-py
aiohttp
aiosignal
altair
annotated-types
anyio
appnope
array-record
asttokens
astunparse
async-timeout
attrs
backoff
blinker
cachetools
certifi
charset-normalizer
click
cohere
comm
contourpy
cycler
dataclasses-json
debugpy
decorator
dm-tree
docopt
docsearch
etils
exceptiongroup
executing
faiss-cpu
fastavro
filelock
flatbuffers
fonttools
frozenlist
fsspec
gast
gensim
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
googleapis-common-protos
grpcio
grpcio-tools
h11
h2
h5py
hpack
httpcore
httpx
huggingface-hub
hyperframe
idna
importlib-metadata
importlib-resources
ipykernel
ipython
jedi
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keras
kiwisolver
langchain
langsmith
libclang
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
ml-dtypes
mpmath
multidict
mypy-extensions
nest-asyncio
networkx
nltk
numpy
oauthlib
openai
opt-einsum
packaging
pandas
parso
pexpect
Pillow
pipreqs
platformdirs
plotly
portalocker
promise
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pyasn1
pyasn1-modules
pydantic
pydantic_core
pydeck
pyemd
Pygments
pyparsing
pypdf
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
qdrant-client
referencing
regex
requests
requests-oauthlib
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
sentence-transformers
sentencepiece
six
smart-open
smmap
sniffio
SQLAlchemy
stack-data
stop-words
streamlit
streamlit-chat
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
tensorflow-macos
tensorflow-metadata
termcolor
tfds-nightly
threadpoolctl
tiktoken
tokenizers
toml
toolz
torch
torchvision
tornado
tqdm
traitlets
transformers
typing-inspect
typing_extensions
tzdata
tzlocal
urllib3
validators
wcwidth
Werkzeug
wrapt
yarg
yarl
zipp
